
*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}


@font-face {
    font-family: 'liberation_sans';
    src: url('fonts/liberationsans-bold-webfont.eot');
    src: url('fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-bold-webfont.woff2') format('woff2'),
         url('fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height:100%;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

header{
    margin-top: 70px;
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'liberation_sans';
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    margin-bottom: 0;
}

h3{
    color: lightgrey;
    font-weight: lighter;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin: 0;
    padding: 35px 0;
}

.menu {
    position: absolute;
    right: 0;
}

.index_menu{
    margin-top: 25px;
    margin-bottom: 30px;
}

.menu a {
    font-size: 16px;
}
.profile_foto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social_icons a{
    color: black;
    margin: 15px;
}

.social_icons {
    margin-bottom: 30px;
}


nav a{
    text-decoration: none;
    color: indigo;
    margin: 15px;
    font-size: 22px;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    text-align: center;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, lightgrey, white);
    width: 600px;
}
hr:after {
    content: "○";
    color: lightgrey;
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 24px;
    padding: 0 4px;
    background: white;
}

i {
    transform: scale(1.25, 1.25);
}
.copyright-text {
    color: lightgrey;
    margin: 30px 0;
}
.copyright-text i {
    margin-left: 5px;
    transform: scale(1, 1);
}

section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.blog_entry{
    display: flex;
    justify-content: space-between;
}

.blog_entry_title > a{
    text-decoration: none;
    color: black;
}

.blog_entry_title > a:after{
    text-decoration: underline;
    color: blue;
}

.blog_entry_date {
    color: lightgrey;
    font-size: 15px;
}
