
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'liberation_sans';
    src: url('fonts/liberationsans-bold-webfont.eot');
    src: url('fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-bold-webfont.woff2') format('woff2'),
         url('fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body,
main,
section,
.project_tag {
    margin: 0;
}

h3,
section,
.divider,
.project_divider{
    padding: 0;
}


html,
body {

    line-height: 1.5;
}

body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    width: 1400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    transform: scale(1.25, 1.25);
}

h1 {
    font-family: 'liberation_sans';
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    margin-bottom: 0;
}


h3 {
    color: lightgrey;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 500px;
    padding: 35px 0;
}

nav a {
    text-decoration: none;
    color: indigo;
    margin: 15px;
    font-size: 22px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.index_menu {
    margin-top: 25px;
    margin-bottom: 30px;
}

.about_header {
    min-height: 225px;
}

.menu {
    position: absolute;
    right: 0;
}

.menu a {
    font-size: 16px;
}

.profile_foto_circular {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile_foto_regular {
    width: 225px;
    height: 225px;
}

.about_text {
    width: 600px;
}

.social_icons a {
    color: black;
    margin: 15px;
}

.social_icons {
    margin-bottom: 30px;
}

.divider {
    display: block;
    overflow: visible; /* For IE */
    text-align: center;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, lightgrey, white);
    width: 600px;
}

.divider_container{
    height: 19px;
    width:100%;
}

.about_text p{
    width: 500px;;
    word-wrap: break-word;
}

.divider:after {
    content: "○";
    color: lightgrey;
    display: inline-block;
    position: relative;
    top: -19px;
    font-size: 24px;
    padding: 0 4px;
    background: white;
}

.copyright-text {
    color: lightgrey;
    margin: 30px 0 0 0;
}
.copyright-text i {
    margin-left: 5px;
    transform: scale(1, 1);
}

.blog_entry,
.project_entry {
    display: flex;
    justify-content: space-between;
}

.blog_entry_title > a {
    text-decoration: none;
    color: black;
}

.project_entry_title > a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.project_entry_title > a:hover {
    text-decoration: underline;
    color: blue;
}

.blog_entry_title > a:hover {
    text-decoration: underline;
    color: blue;
}

.blog_entry_date,
.project_entry_date {
    color: lightgrey;
    font-size: 15px;
}

.fa-project-diagram {
    transform: scale(.9, .9);
}

.about_text p:first-child {
    padding-top: 0;
    margin-top: 0;
}

.project_title {
    font-size: 36px;
}

.project_date {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.project_tag {
    background-color: lightgrey;
    text-transform: uppercase;
}

.project_divider {
    overflow: visible; /* For IE */
    margin: 40px 0;
    text-align: center;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, lightgrey, white);
    width: 500px;
}

.project_header {
    min-height: 270px;
}

.project_contact_box_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 2;
    margin-right: 10px;
}

.project_contact_box {
    display: flex;
    justify-content: space-between;
}

.project_contact_box_name {
    font-family: 'liberation_sans';
    display: flex;
}

.project_contact_box_name h2 {
    font-size: 14px;
    margin: 0;
}

.project_contact_box_name p {
    font-size: 12px;
    color: lightgrey;
    margin: 0;
}

.project_contact_box_social {
    display: flex;
    justify-content: space-between;
}

.tweet_button,
.facebook_button {
    display: flex;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    align-self: center;
    justify-content: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin: 2px;
    padding-top: 1px;
}

.tweet_button {
    background-color: #4fafed;
}

.facebook_button {
    background-color: #4361b3;
}
.project_contact_box_contact {
    align-self: center;
}
.fa-twitter, .fa-facebook {
    padding-top: 3px;
    padding-right: 3px;
}

main .project_divider:last-child {
    margin-bottom: 0;
}

i{
    transition: transform .2s linear;
}

i:hover{
    transform: scale(1.1, 1.1);
}

i:active{
    transform: scale(1.4, 1.4 );
}

.rss {
    text-decoration: none;
    color: lightgrey;
}
